.profile-pic {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 8px;
      border: 2px solid #d9534f;
      object-fit: cover;
    }
    .username {
      color: #d9534f;
      font-weight: bold;
    }
    .splash-pic {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
      object-fit: cover;
    }
    .form-label {
  color: #000 !important;
  display: block;
  font-weight: 500;

}
.modal-content {
  background-color: #fff !important;
  color: #000 !important;
}

    .tab-link {
      color: #d9534f;
      font-weight: bold;
      cursor: pointer;
    }
    .tab-link:hover {
      text-decoration: underline;
    }
    .form-control:focus {
      border-color: #d9534f;
      box-shadow: 0 0 0 0.2rem rgba(217,83,79,.25);
    }
